<h1>Search Your Favourite Movie</h1>

<script src="/assets/movies.js" type="text/javascript"></script>
<link rel="stylesheet" href="/assets/movies.css"  type="text/css"></script>
<!-- <div class="movies-search">
  <input type="text" id="movies-search-txt" autofocus>
  <div class="results" id="movies-search-results"></div>
</div> -->

<article class="app-cont">


  <section class="app-content">
    <div class="movies-search">
      <input type="text" id="movies-search-txt" autofocus>
      <div class="results" id="movies-search-results"></div>
    
    </div>
  </section>

</article>


<script>
  $(function() {
    // fun();
    new app.Movies;
  });
</script>
